.container-file{
    margin: auto;
}
.file-title{
    font-size: 22px;
    letter-spacing: 0.05em;
    text-align: center;
    .no-select-and-drag();
}
.file-title > span{
    color: @color-text-primary;
}
.file-split{
    margin: 14px 0;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    .no-select-and-drag();
}
.file-split > span{
    color: @color-text-primary;
}
.file-controls{
    text-align: center;
}
.file-controls > button{
    width: 120px;
    height: 36px;
    border: none;
    background: @color-text-primary;
    border-radius: 20px;
    padding-bottom: 4px;
}
.file-controls > button:hover{
    background: @color-hover-primary;
}
.file-controls > button:active{
    background: @color-active-primary;
}
.file-controls > button > span{
    font-size: 14px;
    color: @color-primary;
    letter-spacing: 0.05em;
    .no-select-and-drag();
}
.file-controls > button:focus{
    outline: none !important;
}