@import './color.less';

// ui
@color-primary: @color-white;

// text
@color-text-primary: @color-outerspace;
@color-text-secondary: @color-blue;

// hover & active & focus

@color-hover-primary: lighten(@color-outerspace, 5%);

@color-active-primary: darken(@color-outerspace, 5%);

// toolbar
@color-toolbar-hover: #8a8a8a;