body {
    margin: 0 !important;
    font-family: Microsoft Yahei;
    font-weight: 400 !important;
    background: @color-primary;
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}

button {
    -webkit-app-region: no-drag;
}

.drag {
    -webkit-app-region: drag;
}

@import './titlebar.less';